*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    background-image: url('./image/images.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: color;
    position: relative;
}
.main form{
    background-color:rgb(104, 104, 104);
    height: 700px;
    width: 450px; 
    position: absolute;
    bottom: 12%;
    right: 40%;
    background: rgba( 255, 255, 255, 0.05 );
    backdrop-filter: blur( 1.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
   
}

.main form label{
    color: antiquewhite;
    font-size: 16px;
    font-weight: bold;
    
}
.main form h2{
    color: #f0ffff;
    text-align: center;
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 10px;
   
    
}
::placeholder{
    font-size: 12px;
    align-items: flex-start;

}

.main form input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  
}
input[type=submit] {
    display: block;
    background-color: #525552;
    color: #ffffff;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
  }

